# Entornos virtuales
venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc

# Claves y secretos (¡MUY IMPORTANTE!)
.env
.streamlit/secrets.toml

# Ignorar todos los Word generados, excepto las plantillas
*.docx
!PLANTILLA_Cualitativo.docx
!PLANTILLA_GCCON.docx

# Imágenes temporales
*.jpg
*.jpeg
*.png